<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 传统存储读取权限（Android 12及以下） -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <!-- 媒体库图片读取权限（Android 13+） -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- 允许读取图片中携带的 GPS 经纬度敏感地理位置信息（Android 10+） -->
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/Theme.CCAImageCompression">
        
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CrashActivity"
            android:exported="false" />
        
    </application>

</manifest>
